.principal{
    background-color: #e6e4e4;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

h1 {
    text-align: center;
}
h2 {
    margin-left: 20px;
    grid-column: 1 / -1;
}
.section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 30px;
}

.btn-rendimento {
    padding: 10px;
    border-radius: 4px;
    
}
.btn-rendimento:focus{
    background-color: #cf5424;
}


.btn-limpar {
    padding: 10px;
    border-radius: 4px ;
    display: grid;
}

.indexacao {
    margin-left:30px ;
}

/* #aportemensal { 
    
}*/